.exercise-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding: 40px;
}

.header {
  padding-left: 0%;
}

.react-calendar button {

}

.react-calendar tile{
  color: blue;
}
