.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 40px;

}

.header {
  display: flex;
  justify-content: center;
  padding: 10px;
  h1{
    margin-left: 0px;
    padding: 0;
  }
}

.teampoints {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

h2 {

}

.club-image {
  width: 250px;
  height: auto;
  margin: auto;
  padding-top: 20px;
}

.club-image img {
  width: 100%;
}

.link-exercise {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  padding: 30px;
}
