.exerciseForm{
  display: flex;
  justify-content: space-between;
  width: 575px;
  margin: 20px;
  padding-bottom: 0;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  margin: 5px;
  padding: 5px;
}

.counter {
  font-size: 400px;
  display: flex;
  justify-content: center;
}
